@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Projekt";
  src: url("../src/assest/fonts/Projekt\ Blackbird\ v2.otf");
}

body {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
